.link {
  font-size: 18px;
  opacity: 0.5;
  &.active {
    opacity: 1;
  }
}

.slash {
  display: inline-block;
  margin: 0 20px;
  font-size: 18px;
  opacity: 0.5;
  &.active {
    opacity: 1;
  }
}
