.link {
  font-size: 18px;
  opacity: 0.5;
  line-height: 1.5;
  &.active {
    opacity: 1;
  }

  @media (max-width: 576px) {
  }
}

.slash {
  display: inline-block;
  margin: 0 20px;
  font-size: 18px;
  opacity: 0.5;
  &.active {
    opacity: 1;
  }
}
