.sliderContainer {
  display: flex;
  align-items: center;
  margin: 10px 0 30px 0;
  @media (max-width: 576px) {
    margin: 20px 0 30px 0;
  }
}

.slide {
  border-radius: 50%;
  text-align: center;
  img {
    cursor: pointer;
    border-radius: 50%;
    min-width: 69px;
    width: 69px;
    height: 69px;
  }
  @media screen and (max-width: 992px) {
    img {
      min-width: 57px;
      width: 57px;
      height: 57px;
    }
  }
}

.colorActive {
  transition: transform 0.4s;
  transform: scale(1.12);
  border: 1px solid #c5c5c5;
}

.prev,
.next {
  display: inline-block;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
}
.next {
  transform: rotate(180deg);
}
